{
   "sections":[
      {"section": "Basic information", "description": "Basic details about the model, including details like person or the organization developing the model, date, version, type, information about training algorithms, parameters, fairness constraints, features, citations, licences and contact information.", "example": ["https://github.com/salesforce/CodeT5/blob/main/CodeT5_model_card.pdf"]},
        {"section": "Intended Use", "description": "Use cases envisioned for the model during development, including primary intended uses and users, out of scope use cases.", "example": ["https://github.com/salesforce/CodeT5/blob/main/CodeT5_model_card.pdf"]},
        {"section": "Factors", "description": "Demographic or phenotypic groups, environmental conditions, technical attributes.", "example": ["https://github.com/Kaggle/learntools/blob/master/notebooks/ethics/pdfs/smiling_in_images_model_card.pdf"]},
        {"section": "Ethical Considerations", "description": "Any form of bias or issues relating to the model's impact.", "example": ["https://github.com/salesforce/ctrl/blob/master/ModelCard.pdf"]},
        {"section": "Caveats and Recommendations", "description": "Any shortcomings of the model or prescribed steps while using the model.", "example": ["https://github.com/salesforce/ctrl/blob/master/ModelCard.pdf"]},
        {"section": "Libraries", "description": "The libraries that are imported into the notebook.", "example": []},
        {"section": "Datasets", "description": "Information about construction of transformation of the datasets used.", "example": ["https://github.com/salesforce/CodeT5/blob/main/CodeT5_model_card.pdf"]},
        {"section": "Data Cleaning", "description": "Steps performed to clean the required data.", "example": []},
        {"section": "Preprocessing", "description": "Steps performed to change the dataset to a form required by the model.", "example": []},
        {"section": "Training Procedure and Data", "description": "Similar to evaluation data, the dataset used to train the model. Can contain the hyperparameters that are used while training the model as well.", "example": ["https://metamind.readme.io/docs/einstein-ocr-model-card#section-training-and-evaluation-data"]},
        {"section": "Evaluation Procedure and Data", "description": "Datasets used by the model, motivation of the use case, preprocessing information.", "example": ["https://modelcards.withgoogle.com/face-detection"]},
        {"section": "Hyperparameters", "description": "Hyperparameter tuning for the model.", "example": []},
        {"section": "Plotting", "description": "Any plots present in the notebook.", "example": []},
        {"section": "Miscellaneous", "description": "Code lines that can be ignored.", "example": []},
        {"section": "References", "description": "Any references or citations to external sources.", "example": []}
   ]
}